@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.EasyWashFirst{
  font-size: revert;
    font-weight: 900;
    color:#194376;
}
.EasyWashSecond{
  color:#46C6CE;
}
.App-link {
  color: #61dafb;
}
.play{
  font-size: 5rem;
    color: red;
    background-color: white;
    background: transparent;
}
.check{
  /* float: left; */
  width:  100%;
  height: 50%;
  /* background-size: cover; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

